<html>
  <head>
    <title>Your result files</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='classify/upload.js?v=2') }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <div class="pagealert" style="margin-top:60px;">
      <a href="/api/classify" class="graytext flatbutton">Topics</a> <a href="/api/classify/assoc" class="graytext flatbutton">Association</a>
       <a href="/api/classify/twitter" class="graytext flatbutton">Twitter</a>
    </div>
    <div id="links">
      <a style="float:right;" class="genlink" href="/api/classify?catg=topics">Back to Upload</a>
      <h1>{{ classifier.capitalize() }} Files</h1><hr>
      {% for file in files %}
        <a class="genlink" {% if file.status == 'complete' or file.status == 'cancelled' %}href="/api/classify/temp/{{ file.save }}?key={{ key }}"
        {% else %}
        style="color:gray;cursor:wait;"
        {% endif %}>{{ file.save }}</a><span style="float:right;font-family:Roboto;color:gray;">
          {% if file.status == 'complete' %}Done! ({{ file.total }})
          {% elif file.status == 'cancelled' %}
          Cancelled ({{ file.complete }} / {{ file.total }})
          {% else %}
          {{ file.complete }} / {{ file.total }}{% endif %}
        </span><br><span class="graytext" style="font-size:9pt">Added {{ file.added|datetimeformat }} | <span class="deletefile underlinejslink {{ file.key }}{{ file.id }}" dataid="{{ file.id }}" datakey="{{ file.key }}">Delete</span></span><hr>
      {% endfor %}
    </div>
  </body>
</html>
