<html>
  <head>
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='classify/twitter.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <div class="pagealert" style="margin-top:60px;">
      <a href="/api/classify" class="graytext flatbutton">Topics</a> <a href="/api/classify/assoc" class="graytext flatbutton">Association</a>
       <a href="/api/classify/twitter" class="graytext flatbutton">Twitter</a>
    </div>
    <div id="links">
      <h1>Twitter to CSV</h1>
      <span class="graytext"><ol>
        <li>Enter query into input.</li>
        <li>For tweets that only contain the words next to each other, wrap the query in " " (double quotes)</li>
        <li>Click submit.</li>
        <li>The server will attempt to get a maximum of 5000 tweets.</li>
        <li>Retweets are filtered out and will subquently reduce number of tweets returned.</li>
        <li>Note: Several queries in a short period of time may exceed the twitter API rate limit. This will cause the request to be delayed
          for up to 15 minutes.</li>
      </ol>
      </span>
      <hr>
      <a class="genlink allres" href="/api/classify/temp/list/twitter">All Results</a>
      <span style="float:right;" class="graytext msg">{% if queuedfile %}Processing... ({{ queuedfile.complete }} / {{ queuedfile.total }}){% endif %}</span><br><br>
    <br>
        <b>Key:</b><br>
        <input type="text" name="apikey" class="geninput apikey" {% if 'classifykey' in session %}value="{{ session['classifykey'] }}"{% endif %}
         placeholder="API Key" style="width:200px;"><br><br>
         <b>Twitter Query:</b><br>
         <input id="keywords" type="text" name="keywords" class="geninput"
          placeholder="Query" style="width:200px;">
           <input type="checkbox" name="include_rt" id="include_rt" value="1" style="margin-left:15px;"><label for="include_rt">Include Retweets</label>
          <br>
        <span style="float:right;margin-top:-45px;">
        <button class="greenbutton upload" id="searchtweet" {% if queuedfile %}style="background:#981e1e;"{% endif %}>{% if queuedfile %}Cancel{% else %}Submit{% endif %}</button>
      </span>
      <br>
    </div>
  </body>
</html>
