<html>
<title>Access Denied | Linknob</title>
<link rel="icon" href="/static/images/favicon.ico">
<body style="background:#26A69A;height:100%;">
<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);</style>
<center>
<a href="/"><img src="/static/images/wordlogo.png" width="300px"></a><br>
<img src="/static/images/403.png" width="420px" style="margin-top:4%;"><br>
<h1 style="font-family:Roboto;color:#fff;">You're a loser!</h1>
<h3 style="font-family:Roboto;color:#fff;">You don't have the credentials to access this page.</h3><br><br>
<span style="font-family:Roboto;color:#fff;">Error 403</span>
</center>
</body>
</html>
