<html>
<title>Server Error | Linknob</title>
<link rel="icon" href="/static/images/favicon.ico">
<body style="background:#26A69A;height:100%;">
<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);</style>
<center>
<a href="/"><img src="/static/images/wordlogo.png" width="300px"></a><br>
<img src="/static/images/500.png" width="420px" style="margin-top:4%;"><br>
<h1 style="font-family:Roboto;color:#fff;">Something Broke!</h1>
<h3 style="font-family:Roboto;color:#fff;">There was an internal server error. It's probably our fault. We are working on a solution.</h3><br><br>
<span style="font-family:Roboto;color:#fff;">Error 500</span>
</center>
</body>
</html>
