{% extends 'base.html' %}{% block content %}
<div id="links">
  <center>
    <span style="color:#292929;font-size:30pt;font-family:Roboto;font-weight:300;">Open the door to the internet</span><br>
    <a href="/signup"><img src="/static/images/knob.png" width="100px"></a>
<br>
    <hr>
<br>
    <a href="/signup"><button class="greenbutton" style="background:#C44437;padding:15px;">Join</button></a> |
    <a href="/signin" class="genlink">Sign In</a>
  </center>
  <br><br>
  <div style="width:70%;margin-left:auto;margin-right:auto;">
  <h3>Welcome to Linknob!</h3>
  <p>
Linknob is a tool to share and discover the web. A portal to the best of the internet.
It is a new way of exploring the web and sharing the best of it with friends and family.
We have created the best site to share links and the best place to find the top links.</p>
<p>
Our mission is to make web browsing more enjoyable. We want to make it easy and fun to share links.
We also want to make it easy to find the Best links. We want to connect the web in a new way. Help us make that happen.</p>
<p>
Our point system is designed to help the greatest links be seen. Unlike other sites, these points are valuable.
There is a limited number of them so users tend to only use the points on the best links.
"Likes" are so 2010. "Like" can't explain how you feel about every article. On Linknob, we make it easy for you to share how you feel about a link and have other users share that emotion with you. Name your point button what ever you want.
</p><hr>
<h4>Find out how the site works <a href="/d/start" class="genlink" style="color:#E6B730;">here!</a></h4>
</div>
</div>
{% endblock %}
