{% extends 'base.html' %}{% block content %}

<body>
    <div id="links" style="width:400px;">
        <center>
            <form class="sigfor" method="post">
                <h1 style="color:#2196F3;">Reset Key</h1>
                {% with messages = get_flashed_messages() %} {% if messages %}
                <div class="flash">
                    <center> {% for message in messages %}{{ message }}
                        <br>{% endfor %}
                    </center>
                </div>
                {% endif %} {% endwith %}
                <br>
                <input type="email" required="true" placeholder="Email" name="email" class="resetemail geninput">
                <br>
                <br>
                <button class="greenbutton" style="float:none;" type="submit">Reset Key</button>
                <br>
            </form>
    </div>
    </center>
  </body>{% endblock %}
