<html>
<title>Linknob</title>
<link rel="icon" href="/static/images/favicon.ico">
<body style="background:#26A69A;height:100%;">
<style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);</style>
<center>
<a href="/"><img src="https://www.dropbox.com/s/vd0zflqsjgjxgiy/wordlogo.png?dl=1" width="300px"></a><br>
<h1 style="font-family:Roboto;color:#fff;">We're Upgrading!</h1>
<h3 style="font-family:Roboto;color:#fff;">Sorry for the inconvenience. We are attempting to move Linknob to better servers. Check back in a few hours. </h3><br><br>
<span style="font-family:Roboto;color:#fff;position:absolute;bottom:5px;left:49%;">Upgrades</span>
</center>
</body>
</html>
